<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">

    <title>index</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Additional CSS Files -->
    <link href="/assets/css/fontawesome.css" rel="stylesheet">
    <link href="/assets/css/templatemo-cyborg-gaming.css" rel="stylesheet">
    <link href="/assets/css/owl.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="https://unpkg.com/swiper@7/swiper-bundle.min.css" rel="stylesheet"/>

</head>


<body>
<header class="header-area header-sticky">
<div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
		<a class="mt-4" href="/"  >
		<img alt="" src="/assets/images/logo.png" style="margin-top:2.3%; padding:0px">
		</a>
		<!-- ***** Logo End ***** -->
		
<!-- ***** Menu Start ***** -->

        <ul class="nav" style="margin:2.3% 0% 0% 0%;flex-basis: 100%; ">
              <li>
              	<a class="active" href="/">Home</a></li>
		              <li class="check" style="display:none"><a href="/member/signup">회원가입</a></li>
              	</a>
              	<a></a>
              </li>
        </ul>

       

        
		</nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">

                <form action="/member/login" id="login-form" method="post">
                    <h2 class="h4">로그인</h2><br>
                    <div class="form-group">
                        <label for="memberId">아이디</label>
                        <input class="form-control" name="memberId" type="text">
                    </div>
                    <div class="form-group">
                        <label for="memberPassword">패스워드</label>
                        <input class="form-control" name="memberPassword" type="password">
                    </div>
                    <div class="main-button">
                        <a href="#" onclick="document.getElementById('login-form').submit();">로그인</a>
                        <a href="/member/findPassword">비밀번호 찾기</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function checkInput() {
        const memberIdInput = document.querySelector("input[name='memberId']");
        const memberPasswordInput = document.querySelector("input[name='memberPassword']");
        const loginButton = document.querySelector("input[type='submit']");

        if (memberIdInput.value && memberPasswordInput.value) {
            loginButton.disabled = false;
        } else {
            loginButton.disabled = true;
        }

    }

    // 각 입력 필드에 이벤트 리스너를 추가하여 값이 변경될 때마다 checkInput 함수를 호출합니다.
    const memberIdInput = document.querySelector("input[name='memberId']");
    memberIdInput.addEventListener('input', checkInput);
    const memberPasswordInput = document.querySelector("input[name='memberPassword']");
    memberPasswordInput.addEventListener('input', checkInput);
</script>
	<!--로그인 후 로그아웃으로 바뀌는 스크립트-->
<script>
    var userId = "[[${session.loginId}]]";
    $(document).ready(function () {

        if (userId === "") {

            $('.check').show();
        } else if (userId !== "") {
            $('.check2').show();
        }
    });
</script>
</body>
</html>